<span class="header-social-icons">
  {% if site.email %}
    <a href="mailto:{{ site.email | encode_email }}" aria-label="Email">
      <i class="fa-solid fa-envelope"></i>
    </a>
  {% endif %}

  {% if site.scholar_userid %}
    <a
      href="https://scholar.google.com/citations?user={{ site.scholar_userid }}"
      target="_blank"
      rel="noopener"
      aria-label="Google Scholar"
    >
      <i class="ai ai-google-scholar"></i>
    </a>
  {% endif %}

  {% if site.x_username %}
    <a
      href="https://x.com/{{ site.x_username }}"
      target="_blank"
      rel="noopener"
      aria-label="X"
    >
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  {% endif %}
</span>
